<section class="cv-section section-languages" aria-labelledby="languages">
  <h2 id="languages"><a class="section-title" href="#languages">Languages</a></h2>
  <div class="section-body">
    <p>{% for language in cv.languages %}<span property="knowsLanguage" typeof="Role"><span property="knowsLanguage" resource="{{ language.iri }}" typeof="Language"><span property="name" content="{{ language.name | escape }}">{{ language.name | escape }}</span><span property="alternateName" content="{{ language.code }}"></span>{% for s in language.same_as %}<span property="sameAs" resource="{{ s }}"></span>{% endfor %}</span> (<span property="description" content="{{ language.proficiency | escape }}">{{ language.proficiency | escape }}</span>)</span>{% unless forloop.last %} · {% endunless %}{% endfor %}</p>
  </div>
</section>
