{%- assign last_author = include.authors.size | minus: 1 -%}
{%- assign shown_author = false -%}
{%- assign author_gap = false -%}
{%- for author in include.authors -%}
  {%- if include.authors.size > 10 and forloop.index0 >= 3 and forloop.index0 != last_author and author.me == nil -%}
    {%- assign author_gap = true -%}
  {%- else -%}
    {%- if shown_author %}{% if author_gap %} … {% else %}, {% endif %}{% endif -%}
    {%- assign given = author.given | replace: "-", " " | split: " " -%}
    {%- capture author_label -%}
      {%- for part in given -%}{{ part | slice: 0 }}. {% endfor -%}{{ author.family }}
    {%- endcapture -%}
    {%- assign author_name = author.given | append: " " | append: author.family | strip -%}
    {%- assign author_iri = author.orcid | default: author.wikidata -%}
    {%- if author.me %}<strong>{% endif -%}
    {% include cv/name.html name=author_name label=author_label iri=author_iri type="Person" %}
    {%- if author.me %}</strong>{% endif -%}
    {%- assign shown_author = true -%}
    {%- assign author_gap = false -%}
  {%- endif -%}
{%- endfor -%}