{%- assign org = orgs[include.key] -%}
{%- assign parent = orgs[org.parent] -%}
{%- if parent -%}
  {% include cv/name.html name=parent.name iri=parent.iri type=parent.type %}{% if parent.alternate_name %} ({{ parent.alternate_name | escape }}){% endif %},{{ " " }}
{%- endif -%}
{% include cv/name.html name=org.name iri=org.iri type=org.type %}{% if org.alternate_name %} ({{ org.alternate_name | escape }}){% endif %}
{%- if include.location and org.location %} · {% assign include_iri = cv.places[org.location] %}{% include cv/name.html name=org.location iri=include_iri type="Place" %}{% endif -%}