{%- assign text_html = include.text | strip | escape -%}
{%- for mention in include.mentions -%}
  {%- assign find = mention.text | escape -%}
  {%- capture link -%}<a href="{{ mention.url | escape }}">{{ find }}</a>{%- endcapture -%}
  {%- assign text_html = text_html | replace_first: find, link -%}
{%- endfor -%}
{%- for taxon in include.taxa -%}
  {%- assign find = taxon | escape -%}
  {%- capture label -%}<em>{% assign include_iri = cv.taxa[taxon].iri %}{% include cv/name.html name=taxon iri=include_iri type="Taxon" %}</em>{%- endcapture -%}
  {%- assign text_html = text_html | replace_first: find, label -%}
{%- endfor -%}
{{ text_html }}